<div class="p" >
  <div class="container">
    <div class="ovflow"></div>
    <div class="parent">
      <div class="c1">
        <div class="cc1">
          <div class="item">
            <img src="../../assets/photos/boy4.jpg"
              class="w-100 rounded-circle m-5 border-2 border" data-aos="zoom-in" data-aos-duration="2000" alt>
          </div>
          <div class="typ m-5"  data-aos="zoom-in" data-aos-duration="2000" >
            <h2>Kareem Ahmed</h2>
          </div>
        </div>
        <div class="cc2 border-2  border"  data-aos="fade-up" data-aos-duration="1000" >
          <h3 class="text-center">About me</h3>
          <p class="text-center fw-normal">
            " I am a 78-year-old retired military
            veteran
            who proudly served in the
            army.As I have grown older, I find myself in need of some assistance
            with
            daily activities. I am looking for someone compassionate and
            dependable
            to
            help me with tasks around the house and ensure I am well taken care
            of.
            "
          </p>
        </div>
      </div>
      <div class="c2">
        <div class="info">
          <div class="list-group">
            <a  data-aos="fade-up" data-aos-duration="1000"
              class="list-group-item list-group-item-action flex-column  ">
              <div class="d-flex w-100 justify-content-between " >
                <h5 class="mb-1">Full Name</h5>
                <small>Edited 3 days ago <i class="fa-solid fa-edit fa-sm "></i></small>
              </div>
              <p class="mb-1 ms-2">Kareem Ahmed Mohy Eldeen mohamed </p>
            </a>
            <a data-aos="fade-up" data-aos-duration="1500"
              class="list-group-item list-group-item-action flex-column ">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Email</h5>
                <small>Not Edited yet <i class="fa-solid fa-edit fa-sm "></i></small>
              </div>
              <p class="mb-1 ms-2">kikoahmed25@gmail.com</p>
            </a>
            <a data-aos="fade-up" data-aos-duration="2000"
              class="list-group-item list-group-item-action flex-column ">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Phone no.</h5>
                <small>Edited 1 day ago <i class="fa-solid fa-edit fa-sm "></i></small>
              </div>
              <p class="mb-1 ms-2">01221829857 </p>
            </a>
            <a data-aos="fade-up" data-aos-duration="2500"
              class="list-group-item list-group-item-action flex-column ">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 ms-2">Address</h5>
                <small>Not Edited yet <i class="fa-solid fa-edit fa-sm "></i></small>
              </div>
              <p class="mb-1 ms-2">23 ElRawadey St. Alexandria Egypt </p>
            </a>
            <a data-aos="fade-up" data-aos-duration="3000"
              class="list-group-item list-group-item-action flex-column ">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Date of Birth</h5>
                <small>Edited 7 days ago <i class="fa-solid fa-edit fa-sm "></i></small>
              </div>
              <p class="mb-1 ms-2">18/5/2001</p>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
