

<!-- ----------------------------------------------------------------------- -->
<!--                               main page                                 -->
<!-- ----------------------------------------------------------------------- -->
<div class="container-fluid w-100 vh-100 bg-danger main" id="c1">
  <h1 >Fall Guard.</h1>
  <h1 >increase protection</h1>
  <p class="w-50 text-center ggsyaba mb-5 mt-1">The Fall Guard project scope is
    designed to deliver a holistic
    system that not only provides an effective safety net for the elderly but
    also
    promotes user independence, security, and peace of mind</p>
  <div>
    <a routerLink="/home"><button
        class="btn btn-primary btnb text-white mx-1 anml mb-5 " id="gs">Get
        Started</button></a>
    <a routerLink="/about"><button
        class="btn btn-primary btnb text-white anmr mb-5" id="lm">Learn
        More</button></a>
  </div>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                              end main page                              -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                               about start                               -->
<!-- ----------------------------------------------------------------------- -->

<div name="about" id="about">
  <h2 class="text-center pt-5 ">Trusted By Medical Buisness</h2>
  <p class="text-center pt-3 pb-5 text-black w-50 mx-auto">Lorem ipsum, dolor
    sit amet consectetur adipisicing
    elit. Doloremque perferendis, provident vitae possimus
    rerum ex architecto eos libero id ullam.</p>
  <div class="about">
    <div class="about_inside" data-aos="flip-left" data-aos-duration="1000"><img
        src="../../assets/photos/helping-hand.png" alt class="imgwh ">
      <h3>4</h3>
      <h4>Total Helps</h4>
    </div>
    <div class="about_inside" data-aos="flip-left" data-aos-duration="1000">
      <img src="../../assets/photos/carer.png" alt class="imgwh ">
      <h3>7</h3>
      <h4>Total Caregivers</h4>

    </div>
    <div class="about_inside" data-aos="flip-left" data-aos-duration="1000">
      <img src="../../assets/photos/slipped.png" alt class="imgwh ">
      <h3>19</h3>
      <h4>Total Patients</h4>

    </div>

  </div>

</div>

<!-- ----------------------------------------------------------------------- -->
<!--                                about end                                -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                             services start                              -->
<!-- ----------------------------------------------------------------------- -->

<div class="services" id="services">
  <div data-aos="zoom-in" data-aos-duration="1000">
    <h1 class="mt-5 text-center pb-3"><a href><img
          src="pics/fall_detect_icon.png" alt></a> Discover Our
      Services</h1>
  </div>
  <div class="fallservice" data-aos="fade-up" data-aos-duration="1500">
    <!-- <h3 class="p-3"> > Fall Detection Service</h3> -->
    <div class="accordion accordion-flush bcm" id="accordionFlushExample">
      <div class="accordion-item bg-primary">
        <h2 class="accordion-header bcm" id="flush-headingOne">
          <button class="accordion-button collapsed bcm" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false"
            aria-controls="flush-collapseOne">
            > Fall Detection Service
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body text-white">- The primary purpose is to
            address the heightened risk of accidental falls among
            the elderly, which can lead to severe injuries, prolonged recovery
            periods, and, in
            some cases, a decline in overall health. Fall Detection aims to
            mitigate these risks
            by providing a proactive and responsive fall detection
            system..</div>
        </div>
      </div>
    </div>
    <p class="px-4">The purpose of the Fall Detection System project,, is
      multifaceted and is driven by
      the overarching goal of enhancing the safety and well-being of the elderly
      population.</p>
    <button class="btn btn-outline-primary bg-white text-primary mx-4 ">Try
      Now</button>
  </div>

</div>

<!-- ----------------------------------------------------------------------- -->
<!--                              services end                               -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                              footer start                               -->
<!-- ----------------------------------------------------------------------- -->

<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/"
        class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use
            xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">© 2024 Assiut, Graduation Project</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i
            class="fab fa-facebook fa-2x"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i
            class="fab fa-twitter fa-2x"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i
            class="fab fa-instagram fa-2x"></i></a></li>

    </ul>
  </footer>
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                               footer end                                -->
<!-- ----------------------------------------------------------------------- -->
